<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="#" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>Projects</h1>
    {% for recipe in recipe_pg %}
    <div>
        <div>
            <h5>{{ Recipe_pg.name }}</h5>
            <p>{{ Recipe_pg.recipe_description }}</p>
        </div>
    </div>
    {% endfor %}
</body>
</html>