body {
    background-color: rgb(31, 1, 14);
}

.container {
    background-color: rgba(23, 5, 73, 0.363);
}

h1 {
    color: purple;
    text-align: center;
}

p {
    color: rgb(87, 118, 177);
}

.signup {
    color: indigo;
}

input {
    background-color: rgb(175, 223, 223);
    color: rgb(178, 82, 247);
}

.prewrap {
    white-space: pre-wrap;
}

input:hover,
input:active {
    background-color:  rgb(178, 82, 247);
    color: rgb(175, 223, 223);
}

.btn-signup {
    background-color: rgb(175, 223, 223);
    color: rgb(178, 82, 247);
}

.btn-signup:hover,
.btn-signup:active {
    background-color:  rgb(178, 82, 247);
    color: rgb(175, 223, 223);
}