@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu&display=swap');

/* Basic body link */

body {
    background-image: url('https://res.cloudinary.com/katgacoop/image/upload/v1673690511/rachel-park-hrlvr2ZlUNk-unsplash_opac_z0ns8i.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/* A simple container */

.container {
    max-width: 1200px;
    width: 100%;
    padding-top: 1%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container1 {
    max-width: 800px;
    width: 100%;
    padding-top: 1%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Font size, colour and positioning */

h1 {
    color: rgb(153, 14, 95);
    text-align: center;
    font-family: Lobster , 'Courier New', sans-serif;
}

h2, h3 {
    color:rgb(12, 20, 31);
}

h5 { 
    color:rgb(36, 1, 117);
}

p {
    color: rgb(20, 26, 58);
}

.center {
    text-align: center;
}

.border {
    display: block;
    margin-bottom: 1em;
    margin-left: 46%;
    font-size: larger;
}

/* Background colours */

.bg-dark {
    background-color: #422e9d;
}

.light_p {
    background-color: rgb(201, 176, 233);
}

.puro { 
    background-color: rgb(170, 147, 221);
}

.indi {
    background-color: rgb(202, 220, 240);
}

.blue-i {
    background-color: rgb(149, 189, 250);
}

.signup {
    color: indigo;
}

/* Will place ingredients as a list if user has pressed enter */
.prewrap {
    white-space: pre-wrap;
}

/* Add colour, hover and active to the buttons and navbar */

.btn-signup {
    background-color: rgb(175, 223, 223);
    color: rgb(53, 11, 83);
    font-size: x-large;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
}

.btn-signup:hover,
.btn-signup:active {
    background-color:  rgb(178, 82, 247);
    color: rgb(175, 223, 223);
}



.btn-sign {
    background-color: rgb(175, 223, 223);
    color: rgb(51, 92, 204);
    font-size: x-large;
    margin: 7px 1em 6px 40%;
    padding: 2px 5px 1px 5px;
    text-decoration: underline; 
}

.btn-sign:hover,
.btn-sign:active {
    background-color:  rgb(134, 28, 51);
    color: rgb(175, 223, 223);
}

.btn-signs {
    background-color: rgb(175, 223, 223);
    font-size: x-large;
    margin-top: 6px;
    margin-bottom: 6px;
    
}

.btn-signs:hover,
.btn-signs:active {
    background-color:  rgb(66, 165, 144);
}


