{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% if commented %}
<div class="alert alert-success" role="alert">
   Add your recipe
</div>
{% else %}
<!-- Add authentication so that the user must be logged in -->
{% if user.is_authenticated %}
<h1>Add recipe</h1>
<div class="container puro">

<!-- Users are able to add their own recipes only when logged in -->

<p>Posting as: {{ user.username }}</p>
<form method="POST" action="{% url 'recipes-add' %}" style="margin-top: 1.3em;">
   {{ adding_recipe | crispy }}
   {% csrf_token %}

   <input type="submit" class="btn-signup btn-bg"></input>
</form>
</div>
{% endif %}
{% endif %}
{% endblock content %}