{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="#" />
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
  </script>
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Recipes</title>
    {% endif %}
</head>
    <body>
      <!-- Navigation to the recipe page and add recipe page. -->
      <ul class="nav justify-content-end bg-dark">
        <li class="nav-item">
          <a class="nav-link active hoover" aria-current="page" href="{% url 'recipe-home-pg' %}">Recipes</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'recipes-add' %}">Add Recipes</a>
        </li>
<!-- Basic navigation using allauth to sign in, login and logout -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Sign-up</a>
          </li>
            <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
            </li>
        {% endif %}
        <li>
          <form class="d-flex" method="GET" action="{% url 'search-recipe' %}">
            {% csrf_token %}
            <input class="bg-muted" type="search" placeholder="Search" aria-label="search" name="search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </li>
      </ul>
      <div>
      {% block content %}
      {% endblock content %}
      </div>
    </body>
</html>