{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<!-- Full recipe -->
<h1>Recipe</h1>

    <div class="container blue-i">
    <h4>Recipe: {{ recipe.name }}</h4> <p><p>{{ recipe.author }} {{ recipe.published }}</p></p>
    <h4>Description: {{ recipe.recipe_description }}</h4>
    <h4>Preparation Time:</h4> <p>{{ recipe.preparation }}</p>
    <h5>Ingredients:</h5> 
    <p class="prewrap">{{ recipe.ingredient }}</p>  
    <h5>Directions</h5>
    <p class="prewrap">{{ recipe.directions }}</p>
    <a href="{% url 'recipe-home-pg' %}">Return to Recipe outline</a>
<!-- Only give access to the author of the recipes to delete and edit -->
    {% if recipe.author.id == user.id %}
    <p class="mt-4">Click 
        <a  href="{% url 'recipe-delete' recipe.id %}">here</a> 
        to delete the recipe.
    </p> 
    <p class="mt-2">Click 
        <a  href="{% url 'recipes-edit' recipe.id %}">here</a> 
        to edit the recipe.
    </p> 
    {% endif %}
    </div>
    
{% endblock content %}

