{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<h1 class="text-center text-purple">Share your recipes</h1> 
{% for recipe in recipes %}
    <div class="container mt-4 light_p">
        <div class="row">
        <div class="col-8">
            <h3>Recipe name: {{ recipe.name }}</h3> 
            <h5>Description: {{ recipe.recipe_description }}</h5>
            <p class="mt-2">Click 
                <a  href="{% url 'recipes-full' recipe.pk %}">here</a> 
                if you would like to see the full recipe.
            </p>   
            <p class="mt-2">Click 
                <a  href="{% url 'recipes-edit' recipe.id %}">here</a> 
                to edit the recipe.
            </p>   
            </div>
        </div>
    </div>
    
{% endfor %}
{% endblock content %}

